<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}My App{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body>
        <nav>
            <a href="{{ path('app_home') }}">Accueil</a>
            <a href="{{ path('app_login') }}">Connexion</a>
            <a href="{{ path('app_register') }}">Inscription</a>
            {% if app.user %}
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            {% endif %}
        </nav>

        {% block body %}
        {% endblock %}
    </body>
</html>